# CODEOWNERS — quem revisa mudanças por padrão (pull requests).
# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*       @carlosnizolli
